fastapi
uvicorn[standard]
python-multipart
streamlit
requests
chromadb
sentence-transformers
torch
torchvision
langchain-community
langchain-text-splitters
langchain-ollama
langchain-openai
langchain-google-genai
python-dotenv
pypdf
docx2txt
faiss-cpu
slowapi
